@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #717BD8;
  --lightblue: #5765de94;
  --specWhite: #ffffff9d;
  --darkblue:  #3131866f;
  --btnColor: #313186;
  --borderRadius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  
}
body {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 0;
}
